<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">The current air quality readout for my town in Nigeria is <%= @final_output %></p>
  <hr class="my-4">
  <p><%= @api_description %></p>
  <p>Hit "Reload" in your browser to update...</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>

<br/>